<ion-view view-title="{{chat.name}}">
  <ion-content class="padding">    
        <div class="row header">
          <div class="col tableEncabezado">Fecha</div>
          <div class="col tableEncabezado">Hora</div>
          <div class="col tableEncabezado">Proyecto</div>
          <div class="col tableEncabezado">Pieza</div>
          <div class="col tableEncabezado">Cantidad</div>
          <div class="col tableEncabezado">Avance</div>
          <div class="col tableEncabezado">Revisó</div>
          <div class="col tableEncabezado">Acepta</div>
        </div>
        <div class="row" ng-repeat="visita in visitas" ng-if="chat.id == visita.idPersona">
          <div class="col tableFilas">{{visita.fecha}}</div>
          <div class="col tableFilas">{{visita.hora}}</div>
          <div class="col tableFilas">{{visita.proyecto}}</div>
          <div class="col tableFilas">{{visita.pieza}}</div>
          <div class="col tableFilas">{{visita.cantidad}}</div>
          <div class="col tableFilas">{{visita.avance}}</div>
          <div class="col tableFilas">{{visita.reviso}}</div>
          <div class="col tableFilas">{{visita.acepta}}</div>
        </div>        
    </div>
  </ion-content>
</ion-view>
