<ion-view view-title="Carga de Datos">
  <ion-content class="padding">
    <form ng-submit="addVisita()">
      <div class="list">        
        <label class="item item-input">
          <input type="text" placeholder="Proyecto" ng-model="visita.proyecto" required>
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Pieza" ng-model="visita.pieza" required>
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Cantidad Inicial / Final" ng-model="visita.cantidad" required>
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Avance" ng-model="visita.avance" required>
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Revisó" ng-model="visita.reviso" required>
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Acepta" ng-model="visita.acepta" required>
        </label>
      </div>
      <button class="button button-block button-positive" type="submit">
        Guardar
      </button>
    </form>
  </ion-content>
</ion-view>