<ion-view view-title="Agregar Personal">  
  <ion-content class="padding">
    <form ng-submit="addPersonal()">
      <div class="list">
        <label class="item item-input">
          <input type="text" ng-model="nombre" placeholder="Nombre" required>
        </label>
        <label class="item item-input">
          <input type="text" ng-model="apellido" placeholder="Apellido" required>
        </label>
        <label class="item item-input">
          <input type="text" ng-model="terminal" placeholder="Puesto de Trabajo" required>
        </label>
      </div>
      <button class="button button-block button-positive" type="submit">
        Guardar
      </button>
    </form>
  </ion-content>
</ion-view>