<ion-view view-title="Control de Personal">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats " type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
        <img ng-src="{{chat.face}}">
        <h2>{{chat.name}}</h2>
        <p>{{chat.terminal}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>      

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Eliminar
        </ion-option-button>
        <ion-option-button class="button-calm" ng-click="addVisit(chat)">
          Agregar
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
