<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

   <!-- Personal Tab -->
  <ion-tab title="Personal" icon-off="ion-person-add" icon-on="ion-person-stalker" href="#/tab/personal">
    <ion-nav-view name="tab-personal"></ion-nav-view>
  </ion-tab>  

  <!-- Control Personal Tab -->
  <ion-tab title="Control de Personal" icon-off="icon ion-android-person" icon-on="icon ion-android-person" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>

  <!-- Carga de datos Tab -->
  <ion-tab title="Carga de Datos" icon-off="icon ion-android-add" icon-on="icon ion-android-add-circle" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

 


</ion-tabs>
