/* Empty. Add your own CSS if you like */
.tableEncabezado{
    border-top: 0px;
    border-bottom: 0.1px solid;
    background-color: deepskyblue;
    color: white;
}
.tableFilas{
    border-top: 0px;
    border-bottom: 0.1px solid;
}